extends layout

block content
  h1= title
  p Welcome to this i guess
  p Welcome
  p Yo
  a(href='http://www.google.com') Google
  ul
    li IDK
    li w/e
    img(src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg")
